.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: .6rem .6rem 0 0 #fff;
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: .3rem .3rem 0 0 #fff;
}

.btn:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--black{
    background-color: #212132;
    color: #fff;
}

.btn--white:after{
    background-color: #212132;
}

.btn:hover:after{
   transform: scaleX(1.4) scaleY(1.5);
   opacity: 0;
}

.btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}