/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; /* Browser defualt is 16px divided by 10px. which is what we want */
    /* 1rem = 10px */
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #212132;
    padding: 3rem;
    box-sizing: border-box;
}
